<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECS-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ECS-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ECS-tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ECS-watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Swift-on-ECS-macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CB574E01FCE6DE90031E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB574E91FCE6DE90031E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB574FD1FCE6DF20031E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB5750A1FCE6E080031E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB575121FCE6E080031E740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
